<div class="panel panel-default devise-bs" xmlns:font-size="http://www.w3.org/1999/xhtml">
  <div class="panel-heading">
    <h1 align="center"><%= @user.full_name %>'s Profile</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <% if @user.avatar_file_name != nil %>
          <%= image_tag @user.avatar.url %>
        <% else %>
          <%= image_tag "default.jpg", :alt => "default", :size => "98x120" %>
        <% end %>

      </div>
      <div class="col-md-4">
        <p style="font-size:20px">Email: <%=@user.email%><p>
        <p style="font-size:15px">Projects Funded: </p>
        <p style="font-size:15px">Projects in wishlist: </p>
        <p style="font-size:15px">Projects created by this user: </p>
      </div>
      <div class="col-md-3" >
        <p style="font-size: 20px; font-style: italic">
          <%= link_to "Projects Funded", projects_path, method: :get %>
        </p>
        <p style="font-size: 20px; font-style: italic">
          <%= link_to "Wishlist", projects_path, method: :get %>
        </p>
        <p style="font-size: 20px; font-style: italic">
          <%= link_to "This users' Projects", projects_path, method: :get %>
        </p>
      </div>
      <div class="col-md-3">
        <p style="font-size: 20px; font-style: italic">
          <% if current_user.isAdmin? %>
            <%= link_to "Cancel this account", @user, method: :delete, data: {confirm: 'This account is about to be deleted'} %>
            <%= form_for @user do |f|%>
              <div>
                <%= f.label :isAdmin, "Administrator" %>
                <%= f.check_box :isAdmin %>
              </div>
              <%= f.submit t('.update', default: 'Update privileges'), class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>

  </div>
</div>