<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.collection_select(:category_id, Category.all,
                          :id, :name, {:prompt => 'Select a Category',
                               :selected =>@project.category_id}) %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_field :goal, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :finishDate %>
    <%= form.datetime_select :finishDate, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.file_field :image %>
    <%= form.submit %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id %>


<% end %>
