
<p style="color:white">
  <strong>Category:</strong>
  <%= @project.category_id %>
</p>

<p style="color:white">
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p style="color:white">
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<%= image_tag @project.image.url%>
<p style="color:white">
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p style="color:white">
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p style="color:white">
  <strong>Finishdate:</strong>
  <%= @project.finishDate %>
</p>

<%= link_to 'Fund', new_fund_path%>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
