<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @fund.product %>
</p>

<p>
  <strong>User:</strong>
  <%= @fund.user %>
</p>

<p>
  <strong>Amountfunded:</strong>
  <%= @fund.amountFunded %>
</p>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
