<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="font-size: 20px" class="field">
    <%= form.label :category_id%>
    <%= form.text_field :category_id, id: :product_category_id %>
  </div>

  <div style="font-size: 20px" class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :product_user_id %>
  </div>

  <div style="font-size: 20px" class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :product_title %>
  </div>

  <div style="font-size: 20px" class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :product_description %>
  </div>

  <div style="font-size: 20px" class="field">
    <%= form.label :goal %>
    <%= form.text_field :goal, id: :product_goal %>
  </div>

  <div style="font-size: 20px" class="field">
    <%= form.label :finishDate %>
    <%= form.date_select :finishDate, id: :product_finishDate %>
  </div>

  <div style="font-size: 20px" class="field">
    <%= form.label :mainVideo %>
    <%= form.text_field :mainVideo, id: :product_mainVideo %>
  </div>

  <div style="font-size: 20px" class="field">
    <%= form.label :mainImage %>
    <%= form.text_field :mainImage, id: :product_mainImage %>
  </div>

  <div style="font-size: 20px" class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :product_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
