<p id="notice"><%= notice %></p>

<h1 style="color: white">Products</h1>
<table style="color: white">
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th>Goal</th>
      <th>Decimal</th>
      <th>Finishdate</th>
      <th>Mainvideo</th>
      <th>Mainimage</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <div style="color: white">
      <%= image_tag "project.jpg", :alt => "project", :size => "98x120" %>
      <label>User</label>
      <label>Category</label>
      <label>Title</label>
      <label>Description</label>
      <li><%= link_to "Go", method: :get %></li>
    </div>
    <div style="color: white">
      <%= image_tag "project.jpg", :alt => "project", :size => "98x120" %>
      <label>User</label>
      <label>Category</label>
      <label>Title</label>
      <label>Description</label>
    </div>
    <div style="color: white">
      <%= image_tag "project.jpg", :alt => "project", :size => "98x120" %>
      <label>User</label>
      <label>Category</label>
      <label>Title</label>
      <label>Description</label>
    </div>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.user %></td>
        <td><%= product.category %></td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.goal %></td>
        <td><%= product.decimal %></td>
        <td><%= product.finishDate %></td>
        <td><%= product.mainVideo %></td>
        <td><%= product.mainImage %></td>
        <td><%= product.rating %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%=  link_to 'New Product', new_product_path, class: 'link-to-text-color' %>
