<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Starfounding" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <style type="text/css">
      body, html{
        height: 100%;
        margin: 0;
      }

        .bg {
          background-image: url(<%= asset_path 'Stars.jpg' %>);
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
    </style>
  </head>
  <body class="bg">

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <% if current_user.present? %>
            <span class="icon-bar"></span>
          <% end %>
        </button>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if !current_page?(root_path) %>
              <li><%= link_to "Home", root_path %></li>
            <% end %>
            <% if current_user.present? %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to current_user.email, user_profile_path, method: :get if !current_page?(edit_user_registration_path)%></li>
              <li><%= link_to "WishList", edit_user_registration_path, method: :get if !current_page?(edit_user_registration_path)%></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path, method: :get %></li>
              <li><%= link_to "Register", new_user_registration_path, method: :get %></li>
            <% end %>
            <li><%= link_to "Categories", categories_path, method: :get if !current_page?(categories_path)%></li>
            <li><%= link_to "Products", products_path, method: :get if !current_page?(products_path)%></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
          <%= bootstrap_flash %>
          <%= yield %>
      </div><!--/row-->
    </div> <!-- /container -->

  </body>
</html>
